@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    font-family: "Montserrat";
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 1em 0;
}


.button {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.button:hover {
    background: #eaeaea;
    color: #333;
}

.content-wrap {
    padding: 0 1.5em;
}

//Showcase

#showcase {
    height: 100vh;
    color: #fff;
    text-align: center;
}

#showcase .showcase-image {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#showcase .showcase-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr auto 3fr;
    grid-template-areas: ".""content"".";
}

#showcase-feature {
    grid-area: content;
}

#landingPage {
    background: #333 url('../Images/action-android-device-electronics-595804.jpg');
}

//Section A

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}



//Section B

#section-b {
    padding: 2em 1em 1em;
    background: #333;
    color: #eaeaea;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
    margin: 0.5em;
}

.card {
    height: 100%;
    display: grid;
    grid-template-rows: auto 0fr auto 1fr auto;
    grid-template-areas: "image"".""content"".""button";
    padding-bottom: 1em;
}

.card-image {
    grid-area: image;
}

.card-content {
    grid-area: content;
    padding: 1em 1em 0em 1em;
}

.card-button {
    grid-area: button;
    padding-bottom: 1em;
}

//Section C

#section-c {
    background: #eaeaea;
    color: #333;
    padding-bottom: 1em;
}

//Section Social

#section-social {
    background: #333;
    color: #eaeaea;
    padding-bottom: 1em;
}

#section-social ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-social li {
    width: 15%;
    margin: 0.5em;
}

#section-social img {
    filter: invert(100%);
}

//Footer

#footer {
    background: #000;
    color: #fff;
    padding: 2em;
    text-align: center;
}

@media (min-width: 780px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 45em)) 1fr;
    }

    .content-wrap {
        grid-column: 2/4;
    }

    #footer div {
        grid-column: span 2;
    }

    #section-b ul {
        grid-column: 2/4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #section-b li {
        width: 20em;
    }

    #section-social li {
        width: 5%;
    }
}