@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat";
}

.barWrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "title . nav";
  width: calc(100% - 1.2em * 2);
  padding: 1.2em;
  background-color: white;
}

.barWrapper .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.barWrapper .title .logo {
  color: #191919;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.barWrapper .nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
}

.barWrapper .nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.barWrapper .nav ul li a {
  color: #191919;
  text-decoration: none;
  padding: 1em;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "hero" "social" "footer";
}

.wrapper .hero {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero;
  background: url("../Images/Photos/action-asphalt-balancing-340991.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 5em * 2);
  padding: 5em;
  display: block;
}

.wrapper .social {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: social;
  background: white;
  padding: 3em;
}

.wrapper .social .socialwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em;
}

.wrapper .social h2 {
  padding: 0.5em;
  margin: 0;
  text-align: center;
}

.wrapper .social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.wrapper .social img {
  height: 3em;
  padding: 0.25em;
}

.wrapper .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background: #191919;
}

.wrapper .footer .footerwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.2em;
}

.wrapper .footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.wrapper .footer ul li {
  color: white;
}

.wrapper .footer ul li a {
  color: white;
  text-decoration: none;
  padding-right: 4em;
  padding-left: 4em;
}

@media only screen and (max-width: 768px) {
  .barWrapper {
    display: none;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "title";
  }
  .barWrapper .title {
    text-align: center;
  }
  .barWrapper .nav {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */